<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>720961840492-2927a1mup63fphntfl0s93q0jfm9k189.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.720961840492-2927a1mup63fphntfl0s93q0jfm9k189</string>
	<key>API_KEY</key>
	<string>AIzaSyBLJ5Wy9K0-ywBa4-J27t4NPfdvQ4Exz00</string>
	<key>GCM_SENDER_ID</key>
	<string>720961840492</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.marinasvistkova.OwnChat</string>
	<key>PROJECT_ID</key>
	<string>ownchat-5c8f7</string>
	<key>STORAGE_BUCKET</key>
	<string>ownchat-5c8f7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:720961840492:ios:b681de0746267d13123f49</string>
	<key>DATABASE_URL</key>
	<string>https://ownchat-5c8f7.firebaseio.com</string>
</dict>
</plist>